


    <!--footer -->
    <footer class="site-footer bg-dark">
        <div class="container-fluid bg-dark p-3 text-white">
            <div class="row">
                <div class="col-3 col-md-3">
                    <h6>HORARIO DE ATENCION TIENDA WEB</h6>
                    <p class="text-justify">
                        Lunes a Viernes:
                        De 08:00 AM a 17:30 PM
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="footer-title">
                        <h6>Encuentranos en</h6>
                    </div>
                    <div class="contact-info">
                        <h6>Tienda:</h6>
                        <p> Dallas #564 Santiago, Chile.</p>
                        <div class="phone">
                            <h6>Contacto:</h6>
                            <p>Telefono: +56 9 5362 3547 <br>
                                Email: servicioalcliente@drakon.cl
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <h6>Enlaces Rapidos</h6>
                    <ul class="footer-links">
                        <li><a href="login.html">Iniciar sesion</a></li>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="clima.html">Ver clima</a></li>
                        <li><a href="api.html">API Rick y Morty</a></li>
                        <li><a href="#">Politica de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="card-registrate bg-dark">
                        <div class="card-header">
                            <h4 class="card-title">Registrate!</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="Ingresa tu correo electrónico">
                                <div class="input-group-append">
                                    <button class="button" type="submit">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <ul class="nav">
                                <li>
                                    <a class="nav-link" href="http://www.facebook.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-facebook"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="http://www.instagram.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-instagram"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="http://www.twitter.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-twitter"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="http://www.twitch.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-twitch"></i>
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-3">
            <div class="row">
                <div>
                    <p class="copyright-text text-center">Copyright © 2022 Todos los derechos reservados.
                        <a href="index.html"><span class="logo">Drakon!</span></a>
                    </p>
                </div>
            </div>
    </footer>
    <!-- //footer -->
    